/* header */





/* home */

main .home{
    background: rgb(25,25,25);
    background: linear-gradient(90deg, rgba(25,25,25,1) 40%, rgba(92,92,92,1) 86%);
}

.home-intro{
    background-image: url("../img/Coffee-background2.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-intro-item{
    background: rgba(0, 0, 0, 0.5);
    min-height: 835px;
    padding-bottom: 40px;
}

.flex-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 210px;
}

.flex-wrapper h2{
    font-size: 50px;
    font-weight: bold;
}

.flex-wrapper-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 60px;
    flex-direction: column;
}

.flex-wrapper-text p{
    width: 550px;
}

.home-intro-button{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.home-intro-button button{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 9px;
    padding-bottom: 8px;
    border-radius: 100px;
    font-size: large;
}

.home-card{
    background: rgb(245,247,250);
    background: linear-gradient(137deg, rgba(245,247,250,1) 28%, rgba(199,208,222,1) 69%);
    margin-bottom: 50px;
}

.card-body{
    flex: 1 1 auto;
    padding: 0rem 1rem 1.2rem;
}

.home-main-button{
    display: flex;
    justify-content: center;
}

.home-main-button a{
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 100px;
    font-size: large;
}
